apiVersion: v1
clusters:
- cluster:
    server: {{ stack_outputs.ClusterEndpoint }}
    certificate-authority-data: {{ stack_outputs.ClusterCA }}
  name: microblog
contexts:
- context:
    cluster: eks-microblog
    user: jenkins
  name: ansible
current-context: ansible
kind: Config
preferences: {}
users:
- name: jenkins
  user:
    exec:
      apiVersion: client.authentication.k8s.io/v1alpha1
      command: aws-iam-authenticator
      args:
        - "token"
        - "-i"
        - "eks-microblog"